includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src
    level: max
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
