includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - src
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '~^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$~'
